<!-- in a separate terminal, do
roslaunch zio_maps zio_maps.launch

-->


<launch>
<!--  <include file="$(find zio_maps)/launch/zio_maps.launch" /> -->
  <group ns="localiser">
    <node pkg="localiser" type="localiser" name="localiser" output="screen" required="true">
        <param name="output_bag" value="$(arg bag_output)" />
        <param name="input_bag" value="$(arg bag_input)" />

        <param name="limit_playback_speed" value="false" />
        <param name="percentage_start" value="10" />
        <param name="percentage_end" value="30" />
        <param name="run_pipeline" value="false" />


    </node>
  </group>
</launch>
